
@font-face {
    font-family: 'roboto_mono';
    src: url('../../static/fonts/roboto_mono.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}

.pricePortal {
    margin: auto;
    max-width: 50%;
    height: 35em;

    &__chart {
        background-color: #1e1e1e !important;
        font-family: roboto_mono;
        font-style: bold;
        color: white;
    }

    &__stats {
        background-color: #1e1e1e !important;
        font-family: roboto_mono;
        font-style: bold;
        margin-top: 5px;
    }
}