
.pricePortal {
    background-color: #30343b !important;
    color: white;
    margin: auto;
    max-width: 35%;
    height: 35em;

    &__price {
        display: flex;
        flex-direction: row;
    }
}