
@font-face {
    font-family: 'noto_sans';
    src: url('../../static/fonts/noto_sans.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}

.pricePortal {
    background-color: #1e1e1e !important;
    color: white;
    margin: auto;
    max-width: 50%;
    height: 35em;
    
    &__chart {
        font-family: noto_sans;
        font-style: bold;
    }
}