@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@font-face {
  font-family: 'brrr';
  src: url('./static/fonts/brrr.otf') format('opentype');
  font-weight: bold;
  font-style: normal
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 115vh;
  font-family: brrr;
  font-style: normal;
  background-color: #333333;

  &__header {
    height: 10%;
    width: 100%;
    border-radius: 2px;
    color: white;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;

    &-home {
      text-align: center;
      
      &__hero {
        text-align: center;
      }

      &__buttons {
        margin-top: 15px;
      }

    }

    &-docs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      width: 100%;
      color: white;

      &__item {
        margin: 10px;
        border: 1px solid #7dcbeb;

        code {
          font-family: Consolas,"courier new";
          color: crimson;
          padding: 2px;
          font-size: 130%;
        }
      }
    }

    &-dexs {
      max-width: 100%;
      max-height: 50%;
    }
  }

  // &__footer {
  //   height: 10%;
  // }
}