@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@font-face {
  font-family: 'brrr';
  src: url('./static/fonts/brrr.otf') format('opentype');
  font-weight: bold;
  font-style: normal
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  font-family: brrr;
  font-style: normal;
  background-color: #2d2d2d;

  &__header {
    height: 10%;
    width: 100%;
    border-radius: 2px;
    color: white;
  }

  &__body {
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 100%;
    margin: auto;

    &-dexs {
      max-width: 100%;
      max-height: 50%;
    }
  }

  &__footer {
    height: 25%;
  }
}